{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %}
<div class="container mt-4">
    <div class="card" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">{{ patient_data }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">AGE</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <h2>Patient Info</h2>
    <p>{{ patient_data }}</p>
</div>
{% endblock %}
